@charset "UTF-8";
body{
  background-color: rgb(204, 204, 204);
}
.container{
  width:500px ;
  margin: 50px auto;
  position: relative;
  text-align: center;
}
#start{
  position: absolute;
  top: 160px;
  left: 190px;
  padding: 30px;
  border-radius: 5px;
}
.hide{
  display: none;
}
.mainBoard {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .3);
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-sizing: border-box;
  font-size: 10px;
  text-align: center;
  line-height: 50px;
  /* align-items: center; */
  overflow: hidden;
  /* transition: 0.5s; */
}

.yellow {
  background-color: rgba(120, 150, 0, 0.623);
  /* transition: 0.5s; */
  /* animation: flash 1s linear infinite; */
}
@keyframes flash{
  0%,100%{opacity: 1;}
  50%{opacity: 0.7;}
}
.white::before{
  content: '';
  background-color: rgb(242, 242, 242);
  display: block;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 2px auto;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.black::before{
  content: '';
  background-color: rgb(72, 72, 72);
  display: block;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 2px auto;
  transition: 0.5s;
}
#teban{
  text-align: center;
  /* transition: 1s; */
  /* transform-style: preserve-3d; */
  /* transform: rotateY(180deg); */
}